.parent2 {
	color: #230F2F;
	background-color: red;
}

.parent1 {
	border: 22px solid green;
	color: #A0AF00;
	background-color: black;
}

.child1

/*hfdkaf*/
{}

.parent3 {
	color: #F00016;
}

/*comment*/
.parent4 {
	color: bisque;
	/*comment*/
}

.hi {}

.parent5 {
	color: #0F0FA0;
}

.parent6 {
	color: #626262;
}

.parent7 {
	color: #1b4f5b;
}

.parent8 {
	color: #d050ac;
}

.parent9 {
	color: blueviolet;
}
