#id80{
	background-color: blue;
	color: white;
.parent1{
	background-color: red;
}
.parent1:hover{
	background-color: white;
	color: black;
}
.h1{
	margin: 0 400px;
}
.h2{
	font: WorkSans-Bold;
}
.parent2{
	background-color: yellow;
	
}
.child10{
	background-color: black;
	color: white;
}
.child10:hover{
	background-color: white;
	color: black;
}
.parent2kop:hover{
	background-color: yellow;
	color: black;
}